<!--user selection and filter, maybe no need for component-->

<div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="start start" style="flex-grow: 1 !important;">
        <div fxLayoutGap="16px">
            <input mat-input style="width: 250px !important;" [(ngModel)]="username" placeholder="Enter your Codeforces username">
            <button mat-raised-button (click)="submitUsername()">View Questions</button>
            <button mat-raised-button></button>
        </div>
        <app-questions-table class="extendWidth" [questions]="filteredUserQuestions"></app-questions-table>
    </div>
    <app-question-filters style="width: 25% !important" (filters)="updateFilters($event)"></app-question-filters>
</div>

<!--mat-form-field style="width: 250px;">
    <mat-label>Username</mat-label>
    <input mat-input style="width: 250px;" [(ngModel)]="username" placeholder="Enter your Codeforces username">
</mat-form-field-->

<!--other cool stuff maybe, graphs of rating, solved problems bar graph-->
