.button {
  padding: 0px 8px !important;
  text-align: center !important;
  display: inline-block !important;
  font-size: 12px !important;
  margin: 3px 3px !important;
  border-radius: 18px !important;
}

button.active {
  background-color: #5cb85c !important;
  color: white !important;
}

button.inactive {
  background-color: #d9534f !important;
  color: black !important;
}
