<form [formGroup]="filterForm">
  <div fxLayout="column" fxLayoutAlign="start center" style="width: inherit !important;">
    <!-- Min and Max Rating Input -->
    <div fxLayout="row" name="Rating Input" fxLayoutGap="10px">
      <div name = "Minimum Rating Input">
        <mat-form-field>
          <mat-label>Minimum Difficulty</mat-label>
          <input matInput formControlName="minRating" [errorStateMatcher]="matcher" type = "number"
                  [(ngModel)]="currentFilters.minRating" placeholder="800">
          <mat-error *ngIf="f.minRating.errors">
            Please enter a valid difficulty
          </mat-error>
        </mat-form-field>
      </div>

      <div name = "Maximum Rating Input">
        <mat-form-field>
          <mat-label>Maximum Difficulty</mat-label>
          <input matInput formControlName="maxRating" [errorStateMatcher]="matcher"
                  [(ngModel)]="currentFilters.maxRating" placeholder="3500">
          <mat-error *ngIf="f.maxRating.errors">
            Please enter a valid difficulty
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div name = "Tags Input" fxLayout="column">
      <div fxLayout="row">
        <p class="FilterTitle">Tags</p>

        <mat-slide-toggle [checked]="currentFilters.tagsTakenByOr"
                          (change)="setTakenByOr()">
          Tags taken by OR
        </mat-slide-toggle>
      </div>

      <div name="Tags Choices" fxLayout="row wrap" style="width: inherit !important;">
        <button mat-raised-button class="button" *ngFor="let tag of allTags"
                                  [ngClass]="tag.isActive?'active':'inactive'"
                                  (click)="toggleTag(tag)">
          {{tag.name}}
        </button>
      </div>
    </div>

    <div name = "SolvedBy Input">
       <p>Solved By</p>
       <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle [checked]="currentFilters.solvedByUser == 0" (change)="setSolvedBy(0)">All</mat-button-toggle>
          <mat-button-toggle [checked]="currentFilters.solvedByUser == 1" (change)="setSolvedBy(1)">Not Solved</mat-button-toggle>
          <mat-button-toggle [checked]="currentFilters.solvedByUser == 2" (change)="setSolvedBy(2)">Solved</mat-button-toggle>
       </mat-button-toggle-group>
    </div>

    <div name = "SortedBy Input">
       <div fxLayout="row">
        <p class="FilterTitle">Sorted By</p>

        <mat-slide-toggle [checked]="currentFilters.ascending"
                          (change)="setAscending()">
          Ascending
        </mat-slide-toggle>
      </div>

       <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle [checked]="currentFilters.sortBy === 'index'" (change)="setSortBy(0)">Index</mat-button-toggle>
          <mat-button-toggle [checked]="currentFilters.sortBy === 'solvedCount'" (change)="setSortBy(1)">Solved Count</mat-button-toggle>
          <mat-button-toggle [checked]="currentFilters.sortBy === 'rating'" (change)="setSortBy(2)">Difficulty</mat-button-toggle>
       </mat-button-toggle-group>
    </div>

    <div name="Submit">
        <button mat-raised-button [disabled]="!filterForm.valid" (click)="submitFilters()">Apply Filters</button>
    </div>
    

  </div>
</form>



