.button {
  border: none !important;
  padding: 20px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  border-radius: 17px !important;
}

button.active {
  background-color: #5cb85c !important;
  color: white !important;
}

.inactive {
  background-color: #d9534f !important;
  color: black !important;
}
