<form [formGroup]="filterForm">
  <div fxLayout="column" fxLayoutAlign="start center">
    <!-- Min and Max Rating Input -->
    <div name = "Minimum Rating Input">
      <mat-form-field>
        <mat-label>Minimum Difficulty</mat-label>
        <input matInput formControlName="minRating" [errorStateMatcher]="matcher" type = "number"
                [(ngModel)]="currentFilters.minRating" placeholder="800">
        <mat-error *ngIf="f.minRating.errors">
          Please enter a valid difficulty
        </mat-error>
      </mat-form-field>
    </div>

    <div name = "Maximum Rating Input">
      <mat-form-field>
        <mat-label>Maximum Difficulty</mat-label>
        <input matInput formControlName="maxRating" [errorStateMatcher]="matcher"
                [(ngModel)]="currentFilters.maxRating" placeholder="3500">
        <mat-error *ngIf="f.maxRating.errors">
          Please enter a valid difficulty
        </mat-error>
      </mat-form-field>
    </div>

    <div name="Tags Input" fxLayout="row wrap" fxLayoutGap="1px">
      <button mat-raised-button class="button" *ngFor="let tag of allTags"
                                [ngClass]="tag.isActive?'active':'inactive'"
                                (click)="toggle(tag)">
        {{tag.name}}
      </button>
    </div>

    <div name="Submit">
        <button mat-raised-button [disabled]="!filterForm.valid" (click)="submitFilters()">Set Filters</button>
    </div>

  </div>
</form>



