/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: large;}

.extendWidth {
    width: 100% !important;
}

.regularPadding {
    padding: 24px !important;
}

div {
    padding: 16px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
  background-color: #4CAF50 !important;
  border: none !important;
  color: white !important;
  padding: 20px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  border-radius: 17px !important;
}

