/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: large;}

.extendWidth {
    width: 100% !important;
}

.inheritWidth {
    width: inherit !important;
}

.regularPadding {
    padding: 24px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
