table {
    padding: 24px !important;
    width: 100% !important;
}

tr {
  height: 26px !important;
}

.accepted {
  background-color: #d4edc9 !important;
}

.dark-accepted {
  background-color: #b9eea3 !important;
}

.attempted {
  background-color: #ffe3e3 !important;
}

.dark-attempted {
  background-color: #fed1d1 !important;
}

.grey {
  background-color: #f8f8f8 !important;
}
