<table mat-table [dataSource]="questionsTest">
    <!-- Problem ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Problem ID </th>
        <td mat-cell *matCellDef="let element"> {{element.contestId}}{{element.index}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Solved Count Column -->
    <ng-container matColumnDef="solvedBy">
        <th mat-header-cell *matHeaderCellDef> Solved By </th>
        <td mat-cell *matCellDef="let element"> {{element.solvedBy}} </td>
    </ng-container>

    <!-- Difficulty Column -->
    <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef> Difficulty </th>
        <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>